@import url('https://fonts.googleapis.com/css?family=Montserrat');
#bg-img{
    margin: 0;
    padding: 0;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
}
#bgdiv{
    z-index: 1;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#overlay{
    z-index: 2;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.clock{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
#clocktext{
    text-align: right;
    font-size: 5vw;
    font-weight: lighter;
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
#ampm{
    font-size: 1.5vw;
}
#temperature{
    text-align: right;
    font-size: 50px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.quote{
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 20%;
}
#quoteText{
    text-align: center;
    font-size: 18px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1%;
    padding: 0;
}
#quoteAuthor{
    font-size: 15px;
}

.weather{
    top: 1%;
    right: 1%;
    position: fixed;
}
#temp{
    text-align: left;
    font-size: 25px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 18px;
}
#city{
    font-weight: 100;
    font-size: 12px;
    line-height: 6px;
}
#yahoo{
    font-weight: 100;
    font-size: 10px;
    text-decoration: none;
    color: aliceblue;
}

.photo{
    bottom: 2%;
    left: 1%;
    position: absolute;
    text-align: left;
    font-size: 14px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 20px;
}
#photographer{
    font-size: 12px;
    color: aliceblue;
}
